.book-details {
    background: linear-gradient(to left top, rgba(252, 226, 174, 0.7), rgba(231, 246, 250, 0.7));
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    margin-block-end: 1em;
}

.book-details>.thumbnail-wrapper {
    position: relative;
    grid-area: 1/1;
    overflow: hidden;
}

.book-details>.thumbnail-wrapper>.book-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-details>.thumbnail-wrapper>.ribbon {
    position: absolute;
    top: 20px;
    right: -50px;
    font-size: 14px;
    padding: 4px;
    padding-inline: 2em;
    font-size: 2em;
    text-align: center;
    transform: rotate(30deg);
    background-color: #00c724b6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.book-details>.selected-book-content {
    grid-area: 1/2;
}

.book-details>.selected-book-content span {
    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

.book-details>.selected-book-content>.categories {
    gap: 0.5em;
    flex-wrap: wrap;
}

.book-details>.selected-book-content>.categories>* {
    padding: 0.3em;
    border-radius: 100vw;
}

.book-details>.selected-book-content>.description {
    height: 100%;
}

.book-details>.selected-book-content button {
    text-transform: capitalize;

    background-image: linear-gradient(to right bottom, rgb(255, 205, 40), rgb(253, 112, 57));
    font-weight: bold;
    transition: 200ms;
    font-size: 1.5em;
    align-self: end;
    margin: 0;

    &:hover {
        filter: hue-rotate(-30deg);
        color: white;
    }
}

.selected-book-content>.book-info {
    margin-block-end: 2em;
}

.selected-book-content>.book-info>.book-data {
    gap: 1em;
}

.selected-book-content>.book-info>.book-data>:nth-child(2) {
    font-size: 1.3em;
}

.selected-book-content>.book-info>.book-data>:nth-child(3) {
    font-size: 1.3em;
    font-weight: bold;
}


@media (min-width: 800px) {
    .book-details {
        display: grid;
        grid-template-columns: 30vw 1fr;
        gap: 1em;

        margin-block-end: 1.5em;
        margin-inline: 1em;
        min-height: 80vh;
    }

}

@media (min-width: 1150px) {
    .book-details {
        display: grid;
        grid-template-columns: 30vw 1fr;
        gap: 2em;


        margin-block-end: 2em;
        margin-inline: 4em;
        min-height: 80vh;
    }

}