.book-edit-add {
    position: relative;
    border: none;
    padding: 0;
    border-radius: 20px;

    background: linear-gradient(to left top, rgba(255, 156, 107, 0.7), rgba(231, 246, 250, 0.7));
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    margin-block-end: 1em;
}

.book-edit-add>.go-back-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.book-edit-add>h2 {
    align-self: center;
    font-weight: bold;
}

.book-edit-add>form {
    position: relative;
    padding-block: 1em;
    padding-inline: 1em;
    width: 90vw;
    font-size: 0.8em;
}

.book-edit-add>form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: capitalize;
    gap: 0.3em;
    margin: 0;
}


.book-edit-add>form>input {
    padding: 0.5em;
}

.book-edit-add>form>button {
    background-image: linear-gradient(to right bottom, rgb(255, 205, 40, 0.8), rgb(253, 112, 57, 0.8));
    font-weight: bold;
    transition: 200ms;

    &:hover {
        filter: hue-rotate(-20deg);
    }
}

@media (min-width: 800px) {
    .book-edit-add>form {
        padding-inline: 2em;
        width: 70vw;
        font-size: 1em;
    }
}

@media (min-width: 1150px) {
    .book-edit-add>form {
        padding-inline: 3em;
        width: 50vw;
    }
}