.main-filter {
    justify-items: center;
    background: linear-gradient(to left, rgba(251, 240, 205, 0.7), rgba(255, 204, 219, 0.7)),
        url(../../img/back3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;

    backdrop-filter: blur(5px);
    margin-block-end: 1em;
    padding: 1em;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

.main-filter>form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5em;
    width: 100%;
}

.main-filter>h3 {
    margin-block-end: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

.main-filter>form>label {
    grid-column: 1;
}

.main-filter>form>input {
    grid-column: 2;
    padding: 0.3em;
    padding-inline-start: 0.5em;
}

.main-filter>form>#isOnSale {
    justify-self: start;
}

.main-filter>form>#rating {
    accent-color: rgb(230, 79, 79);
}


.main-filter button {
    place-self: center;
    grid-column: 2 span;
    font-size: 1.2em;
    font-weight: bold;
    align-self: center;
    background-image: linear-gradient(to right bottom, rgb(255, 205, 40), rgb(253, 112, 57));
    transition: 200ms;

    &:hover {
        filter: hue-rotate(-20deg);
    }
}


@media (min-width: 800px) {
    .main-filter {
        justify-items: center;
        background: url(../../img/back3.png),
            linear-gradient(to left, rgba(251, 240, 205, 0.7), rgba(255, 204, 219, 0.7));
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
    }


    .main-filter>form {
        grid-template-columns: max-content 1fr 2em max-content 1fr;
        width: 90%;
    }

    .main-filter>form>input:nth-of-type(odd) {
        grid-column: 2;
    }

    .main-filter>form>input:nth-of-type(even) {
        grid-column: 5;
    }

    .main-filter>form>label:nth-of-type(odd) {
        grid-column: 1;
    }

    .main-filter>form>label:nth-of-type(even) {
        grid-column: 4;
    }

    .main-filter button {
        grid-column: 5 span;

    }
}

@media (min-width: 1150px) {

    .main-filter>form {
        width: 80%;
    }
}