.main-about {
    background-color: rgba(246, 107, 27, 0.3);
    background-image: url(../../img/back2.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 40%;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    min-height: 80vh;
    margin-block-end: 1em;
    padding: 1em;
    color: black;
}

.main-about:has(.contact-us) {
    background-color: rgba(114, 28, 172, 0.3);
    background-image: url(../../img/back5.png);
}

.main-about:has(.newsletter) {
    background-color: rgba(172, 28, 119, 0.3);
    background-image: url(../../img/back6.png);
    min-height: 60vh;
}



.main-about>* {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main-about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.main-about button {
    background-image: linear-gradient(to right bottom, rgb(255, 205, 40, 0.8), rgb(253, 112, 57, 0.8));
    font-weight: bold;
    transition: 200ms;
    flex: 1;

    &:hover {
        filter: hue-rotate(-20deg);
    }
}

.main-about>nav {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.main-about>nav>a {
    transition: 200ms;

    &:hover {
        color: rgb(255, 222, 5);
    }
}

.main-about>nav>a.active {
    color: rgb(255, 222, 5);
}

.main-about>.newsletter {
    margin-block-start: 4em;
    height: 100%;
    text-align: center;
}

.main-about>.newsletter button {
    margin: 0;
    border-radius: 0 10px 10px 0;
    padding: 1em;
}

.main-about>.newsletter input {
    width: 70%;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: none;
    padding: 1em;
}

.main-about>.contact-us>form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5em;
}

.main-about>.contact-us>form>h2 {
    grid-area: 1/1/1/3;
}

.main-about>.contact-us>form>label {
    grid-column: 1;
}

.main-about>.contact-us>form>input {
    grid-column: 2;
    padding: 0.5em;
}

.main-about>.contact-us>form>button {
    grid-area: 5/1/5/3;
}

.main-about>.contact-us>form>textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}



@media (min-width: 800px) {
    .main-about {
        background: url(../../img/back2.png),
            linear-gradient(to left, rgba(246, 27, 27, 0.4), rgba(246, 107, 27, 0.4));
        background-position-x: right;
        background-position-y: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-about:has(.contact-us) {
        background: url(../../img/back5.png),
            linear-gradient(to left, rgba(41, 9, 199, 0.4), rgba(246, 107, 27, 0.4));
        background-position-x: right;
        background-position-y: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-about:has(.newsletter) {
        background: url(../../img/back6.png),
            linear-gradient(to left, rgba(149, 7, 154, 0.4), rgba(246, 107, 27, 0.4));
        background-position-x: right;
        background-position-y: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 80vh;
    }


    .main-about>* {
        width: 50vw;
    }

    .main-about h2 {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .main-about p {
        font-size: 1.2em;
    }

    .main-about>nav {
        font-size: 1.4em;
    }

    .main-about>.newsletter input {
        width: 70%;
    }


}

@media (min-width: 1150px) {
    .main-about>* {
        width: 70vw;
    }

    .main-about h2 {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    .main-about p {
        font-size: 1.5em;
    }

    .main-about>nav {
        font-size: 1.6em;
    }

    .main-about>.newsletter input {
        width: 40%;
    }

    .main-about>.contact-us>form {
        width: 80%;
    }


}