:root {
  --clr1: rgba(120, 160, 245, 0.3);
  --clr2: rgb(120, 99, 110);
  --clr3: #935dae;

  --clr1bg: rgb(255, 191, 0);
  --clr1bg-light: rgb(255, 212, 69);
  --clr2bg: linear-gradient(to right bottom, rgb(255, 205, 40), rgb(253, 112, 57));
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --avatarColor: rgb(255, 166, 0);
}