button {
    cursor: pointer;
    background-image: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    text-transform: capitalize;
}

button:hover {
    filter: hue-rotate(-20deg);
    color: white;
    transition: .3s;
}

input:focus {
    background-color: var(--clr1bg-light);
    transition: background-color 1s;
}