/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-evenly {
    justify-content: space-evenly;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: start;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa::before {
    font-family: fa;
}

.fa.date::before {
    content: '\f073';
}

.fa.lang::before {
    content: '\f1ab';
}

.fa.page::before {
    content: '\f15c';
}

.fa.html::before {
    content: '\f13b';
}

.fa.star::before {
    content: '\f005';
}

.fa.pause::before {
    content: '\f04c';
}

.fa.play::before {
    content: '\f04b';
}

.fa.pen::before {
    content: '\f304';
}

.fa.bar::before {
    content: '\f0c9';
}

.fa.close::before {
    content: '\f00d';
}

.fa.plus::before {
    content: '\2b';
}

.fa.minus::before {
    content: '\f068';
}

.fa.table::before {
    content: '\f00b';
}

.fa.list::before {
    content: '\f009';
}

/* colors */

.red {
    color: red;
}

.green {
    color: green;
}

/* read more */

.read-bth.more {
    color: rgb(19, 19, 191);
    cursor: pointer;
}

.read-bth.less {
    color: rgb(117, 27, 195);
    cursor: pointer;
}

/* mini loader */

.mini-loader {
    padding: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 8px solid;
    border-color: #f1ca07 #0000;
    animation: s1 1s infinite;
    place-self: center;
}

@keyframes s1 {
    to {
        transform: rotate(.5turn)
    }
}