/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: start;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa::before {
    font-family: fa;
}

.fa.date::before {
    content: '\f073';
}

.fa.lang::before {
    content: '\f1ab';
}

.fa.page::before {
    content: '\f15c';
}

.fa.html::before {
    content: '\f13b';
}

/* colors */

.red {
    color: red;
}

.green {
    color: green;
}

/* read more */

.read-bth.more {
    color: rgb(19, 19, 191);
    cursor: pointer;
}

.read-bth.less {
    color: rgb(117, 27, 195);
    cursor: pointer;
}